/* FONTS */
/* COLORS */
/* GENERAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #23262f;
}

.margin-btm-2rem {
  margin-bottom: 2rem;
}

.margin-btm-2p4rem {
  margin-bottom: 2.4rem;
}

.color-blue {
  color: #3772ff !important;
}

.color-neutrals-2 {
  color: #23262f !important;
}

.color-neutrals-4 {
  color: #777e90 !important;
}

.color-neutrals-5 {
  color: #b1b5c4 !important;
}

.color-neutrals-8 {
  color: #fcfcfd !important;
}

.borderless {
  border: none !important;
}

.background-violet {
  background-color: #9757d7 !important;
}

.background-green {
  background-color: #45b26b !important;
}

.background-neutral-2 {
  background-color: #23262f !important;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

.hr {
  border-top: 0;
  border-bottom: 1px solid #e6e8ec;
  margin: 2.4rem 0;
}

.hr-standard {
  border-top: 0;
  border-bottom: 1px solid #e6e8ec;
}

.subheading-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: #777e90;
}

.subheading-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: #777e90;
  margin-bottom: 0.8rem;
}

.heading-1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 6.4rem;
  letter-spacing: -0.02em;
  color: #23262f;
}

.heading-2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
  letter-spacing: -0.02em;
  color: #141416;
}

.heading-3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.01em;
  color: #23262f;
  margin-bottom: 2.4rem;
}

.heading-4 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: -0.01em;
  color: #141416;
}

.eth {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  color: #45b26b;
  width: 68px;
  height: 26px;
  border: 2px solid #45b36b;
  border-radius: 4px;
}

.select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  height: 48px;
  width: 256px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-color: #fcfcfd;
  background-position: 100%;
  background-repeat: no-repeat;
  border: 2px solid #e6e8ec;
  border-radius: 1.2rem;
  padding: 1.2rem 1.6rem;
  outline: none;
  cursor: pointer;
}

.body-1,
.body-1-bold,
.body-1-light {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #23262f;
}

.body-1-bold {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.body-1-light {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.body-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #777e90;
}

.body-2_bold {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #23262f;
}

.body-2_small,
.body-2_small-light {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #23262f;
}

.body-2_small-light {
  color: #777e90;
}

.color-neutrals-3 {
  color: #353945 !important;
}

.nav-link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #777e90;
}

.button-1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #23262f;
  border: 2px solid #e6e8ec;
  border-radius: 90px;
  padding: 1.6rem 2.4rem;
  background-color: transparent;
  cursor: pointer;
}

.button-1_blue {
  background-color: #3772ff;
  color: #fcfcfd;
  border: none;
}

.button-2,
.button-2_blue {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #23262f;
  background: none;
  padding: 0.8rem 1.2rem;
  border: 2px solid #e6e8ec;
  border-radius: 90px;
  cursor: pointer;
}

.button-2_blue {
  background-color: #3772ff;
  color: #fcfcfd;
  border: none;
}

.icon-img {
  background: #e4d7cf;
  border-radius: 48px;
  width: 40px;
  height: 40px;
}

.icon-tiny {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 4.8rem;
}

.icon-img_big {
  width: 56px;
  height: 56px;
  border-radius: 48px;
}

.icon-img_small,
.icon-img_small-violet,
.icon-img_small-yellow,
.icon-img_small-pink,
.icon-img_small-neutral {
  width: 24px;
  height: 24px;
  border-radius: 48px;
}

.icon-img_small-violet,
.icon-img_big-violet {
  background-color: #9757d7;
}

.icon-img_small-yellow,
.icon-img_big-yellow {
  background-color: #ffd166;
}

.icon-img_small-pink,
.icon-img_big-pink {
  background-color: #ef466f;
}

.icon-img_small-neutral,
.icon-img_big-neutral {
  background-color: #e6e8ec;
}

.icon-img_without-background {
  background: none;
}

.caption-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777e90;
}

.caption-2_bold {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777e90;
}

.caption-2_bold-light {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #777e90;
}

.caption-bold,
.caption-bold_light {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #23262f;
}

.caption-bold_light {
  color: #353945;
}

/* HEADER */
.header {
  border-bottom: 2px solid #fcfcfd;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 81px;
}
.header__nav-list {
  display: flex;
  gap: 3.2rem;
}
.header__nav-item a {
  color: #23262f;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.header__nav-item_light a {
  color: #777e90;
}
.header__nav_left {
  display: flex;
  align-items: center;
}
.header__nav_right {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-right: 3.2rem;
}
.header__logo-img {
  width: 2rem;
  height: 2rem;
}
.header__logo-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: -0.02em;
  color: #23262f;
}
.header__logo-divider {
  background-color: #e6e8ec;
  width: 0.2rem;
  height: 4rem;
  margin-right: 3.2rem;
}
.header__label {
  position: relative;
  margin-right: 3.5rem;
}
.header__label::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.4rem;
  width: 20px;
  background: url("../img/search-icon.svg") center no-repeat;
}
.header__search {
  padding: 0 1.6rem;
  border: 2px solid #e6e8ec;
  border-radius: 0.8rem;
  width: 25.6rem;
  height: 4rem;
  outline: none;
  cursor: pointer;
}
.header__search[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}
.header__search::-moz-placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777e90;
}
.header__search::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777e90;
}
.header__icon-bell {
  width: 1.9rem;
  height: 1.9rem;
  color: #777e90;
  position: relative;
  margin-right: 3.5rem;
}
.header__icon-bell::after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background-color: #45b26b;
  position: absolute;
  border-radius: 50%;
  top: -10px;
  right: -10px;
}
.header__nav-btn {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 1.2rem 1.6rem;
  border-radius: 9rem;
}
.header__nav-btn_upload {
  color: #fcfcfd;
  background-color: #3772ff;
  margin-right: 1.2rem;
}
.header__nav-btn_connect {
  color: #23262f;
  border: 2px solid #e6e8ec;
  background-color: #fcfcfd;
}

/* SECTION NEW CREATIVE ECONOMY */
.new-economy {
  padding-top: 12.8rem;
  padding-bottom: 12rem;
}
.new-economy-top {
  text-align: center;
}
.new-economy-middle {
  display: flex;
  justify-content: space-between;
  gap: 12.8rem;
  padding-top: 12.8rem;
  padding-bottom: 14rem;
}
.new-economy-middle__left {
  position: relative;
}
.new-economy-middle__img {
  max-width: 64rem;
  width: 100%;
}
.new-economy-middle__frame {
  position: absolute;
  bottom: 0.6rem;
  left: 0;
  max-width: 62.4rem;
  width: 100%;
}
.new-economy-middle__right {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 35.2rem;
}
.new-economy-middle__icons {
  display: flex;
  gap: 6.55rem;
  margin-top: 2rem;
}
.new-economy-middle__icon {
  display: flex;
  gap: 0.8rem;
}
.new-economy-middle__card-count {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background: #fcfcfd;
  border: 2px solid #e6e8ec;
  box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 2.4rem;
  padding: 3.2rem 0;
}
.new-economy-middle__card-time {
  display: flex;
  gap: 1.95rem;
  justify-content: center;
}
.new-economy-middle__btns {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.new-economy-middle__pagination {
  display: flex;
  align-items: center;
}
.new-economy-middle__pagination_arrow {
  color: #777e90;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border: none;
  background: none;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.new-economy-middle__pagination_arrow-border {
  border: 2px solid #e6e8ec;
  border-radius: 4rem;
  text-align: center;
}
.new-economy-bottom {
  display: flex;
}
.new-economy-bottom__col-1 {
  margin-right: 5.2rem;
}
.new-economy-bottom__col-1 .avatar {
  width: 4.8rem;
  height: 4.8rem;
  background: #e6e8ec;
  border-radius: 4.8rem;
}
.new-economy-bottom__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 44.8rem;
  margin-top: 1.4rem;
}
.new-economy-bottom__col-2 {
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
  max-width: 35.1rem;
  margin-right: 6.4rem;
}
.new-economy-bottom__col-2 .news-card {
  gap: 2.4rem;
  display: flex;
}
.new-economy-bottom__col-2 .news-card img.illustration {
  max-width: 16rem;
  max-height: 14.8rem;
  border-radius: 12px;
}
.new-economy-bottom__col-2 .news-card__items {
  display: flex;
  gap: 1.1rem;
  align-items: center;
  margin-bottom: 1.6rem;
  margin-top: 0.8rem;
}
.new-economy-bottom__col-3 {
  position: relative;
}
.new-economy-bottom__col-3 .card-creators {
  display: flex;
  gap: 1.6rem;
  position: relative;
  margin-bottom: 4.8rem;
}
.new-economy-bottom__col-3 .card-creators div.helper::after {
  content: attr(num);
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  background: #23262f;
  color: #fcfcfd;
  border: 2px solid #fcfcfd;
  border-radius: 64px;
  top: -4px;
  left: -8px;
  text-align: center;
}
.new-economy-bottom__col-3 .card-creators img.icon-img_big {
  position: relative;
}
.new-economy-bottom__col-3 .card-creators::after {
  content: "";
  position: absolute;
  width: 22.4rem;
  height: 1px;
  background: #e6e8ec;
  bottom: -2rem;
}
.new-economy-bottom__col-3 .card-creators.without-hr::after {
  content: "";
  width: 0;
}
.new-economy-bottom__col-3::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 51.2rem;
  background: #e6e8ec;
  left: -3.2rem;
}

/* SECTION SELLERS */
.sellers {
  padding: 12.8rem 8.8rem;
  background-color: #f4f5f6;
}
.sellers__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
  margin-bottom: 6.4rem;
}
.sellers__top .icon {
  position: relative;
  top: -4px;
  left: 10px;
}
.sellers__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sellers__bottom .cards {
  display: flex;
  gap: 3.2rem;
}
.sellers__bottom .cards .card.active {
  height: 26.3rem;
  box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
}
.sellers__bottom .cards .card {
  background-color: #fcfcfd;
  padding: 2.4rem;
  border-radius: 16px;
  width: 198px;
  height: 24.7rem;
  cursor: pointer;
}
.sellers__bottom .cards .card__top {
  display: flex;
}
.sellers__bottom .cards .card__top-badge {
  display: inline-flex;
  padding: 4px 8px;
  background-color: #3772ff;
  color: #fcfcfd;
  border-radius: 24px;
  gap: 4px;
  margin-right: auto;
}
.sellers__bottom .cards .card__top-badge span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #fcfcfd;
}
.sellers__bottom .cards .card__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sellers__bottom .cards .card__bottom-img {
  width: 64px;
  height: 64px;
  margin-bottom: 2rem;
}
.sellers__bottom .cards .card__bottom-img img.avatar {
  width: 100%;
  background: #e4d7cf;
  border-radius: 48px;
}
.sellers__bottom .cards .card__bottom-img img.diamond {
  position: relative;
  bottom: 3rem;
  left: 4.2rem;
}
.sellers__bottom .cards .card__bottom .name {
  margin-bottom: 0.2rem;
}

/* SECTION HOT BIDS */
.hot-bid {
  padding: 13.6rem 16rem;
}
.hot-bid__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.hot-bid__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 5.2rem;
}
.hot-bid__cards .hot-card {
  max-width: 25.6rem;
}
.hot-bid__cards .hot-card__img {
  width: 100%;
  margin-bottom: 2.1rem;
  border-radius: 16px;
}
.hot-bid__cards .hot-card__middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.hot-bid__cards .hot-card__middle-left h3 {
  margin-bottom: 1.2rem;
}
.hot-bid__cards .hot-card__middle-right p {
  margin-bottom: 1.2rem;
}
.hot-bid__cards .hot-card__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
  align-items: center;
}
.hot-bid__cards .hot-card__bottom-left {
  display: flex;
  gap: 0.4rem;
}

/* SECTION HOT COLLECTIONS */
.hot-collections {
  padding: 12.8rem 16rem;
  background-color: #f4f5f6;
}
.hot-collections__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 6.8rem;
}
.hot-collections__cards .hot-coll-card {
  max-width: 35.2rem;
}
.hot-collections__cards .hot-coll-card .hot-coll-img {
  border-radius: 8px;
}
.hot-collections__cards .hot-coll-card .hot-coll-3cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.hot-collections__cards .hot-coll-card .hot-coll-by-whom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hot-collections__cards .hot-coll-card .hot-coll-by-whom_left {
  display: flex;
  gap: 1.2rem;
}
.hot-collections__cards .hot-coll-card .hot-coll-by-whom .items-num {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: #23262f;
}

/* SECTION DISCOVER */
.discover {
  padding: 12.8em 16rem;
  background-color: #fcfcfd;
}
.discover__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 3.2rem;
}
.discover__nav .nav-left select {
  width: 18rem;
}
.discover__nav .nav-right a {
  margin-right: 0;
  display: inline-block;
  width: 116px;
}
.discover__filters {
  display: flex;
  gap: 5rem;
  margin-bottom: 3.4rem;
}
.discover__filters .discover-filter {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.discover__filters .discover-filter .scrollbar-img {
  height: 6rem;
  position: relative;
}
.discover__filters .discover-filter .discover-eths {
  display: flex;
  justify-content: space-between;
  margin-top: -1.8rem;
}
.discover__filters .discover-filter.different {
  gap: 0;
}
.discover__button {
  display: block;
  margin: 5.2rem auto 0;
  width: 13.2rem;
  height: 4rem;
}
.discover__button-svg {
  position: relative;
  top: 0.35rem;
  left: 0.4rem;
}
.discover hr {
  margin-bottom: 3.2rem;
}

/* SECTION EARN CRYPTO */
.earn-crypto {
  padding: 8rem 0;
  background-color: #fcfcfd;
}
.earn-crypto__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.earn-crypto__left {
  flex-shrink: 0;
  flex-basis: 54.5rem;
}
.earn-crypto__left .save-time-subheading {
  margin-bottom: 1.2rem;
}
.earn-crypto__left .earn-heading {
  margin-bottom: 2rem;
}
.earn-crypto__left .creative-info {
  font-weight: 400;
  margin-bottom: 4rem;
}
.earn-crypto__buttons {
  display: flex;
  gap: 1.6rem;
}
.earn-crypto__right {
  max-width: 64rem;
}
.earn-crypto__right-img {
  width: 100%;
}

/* FOOTER */
.footer {
  padding: 8rem 0 3.2rem;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8rem;
}
.footer__col-1 {
  flex-basis: 22.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-right: 19.2rem;
}
.footer__col-2 .footer-section-heading {
  margin-bottom: 4rem;
  min-width: 16rem;
}
.footer__col-2-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer__col-4 {
  width: 35.2rem;
}
.footer__col-4 .footer-section-heading {
  margin-bottom: 4rem;
}
.footer__col-4 .footer__label {
  position: relative;
}
.footer__col-4 .footer__label::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: 1rem;
  width: 3.2rem;
  cursor: pointer;
  background: url("../img/footer-circle-button.svg") center no-repeat;
}
.footer__col-4 .footer__search {
  padding: 0 1.6rem;
  border: 2px solid #e6e8ec;
  border-radius: 90px;
  width: 35.2rem;
  height: 4.8rem;
  outline: none;
  cursor: pointer;
}
.footer__col-4 .footer__search[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}
.footer__col-4 .footer__search::-moz-placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777e90;
}
.footer__col-4 .footer__search::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777e90;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 3.2rem;
}
.footer__bottom .footer-accept {
  margin-left: 1.6rem;
}/*# sourceMappingURL=style.css.map */