/* FONTS */
/* COLORS */
/* GENERAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #23262f;
}

.hamburger-menu {
  display: none;
}
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }
}

.margin-btm-2rem {
  margin-bottom: 2rem;
}

.margin-btm-2p4rem {
  margin-bottom: 2.4rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.color-blue {
  color: #3772ff !important;
}

.color-neutrals-2 {
  color: #23262f !important;
}

.color-neutrals-4 {
  color: #777e90 !important;
}

.color-neutrals-5 {
  color: #b1b5c4 !important;
}

.color-neutrals-8 {
  color: #fcfcfd !important;
}

.borderless {
  border: none !important;
}

.background-violet {
  background-color: #9757d7 !important;
}

.background-green {
  background-color: #45b26b !important;
}

.background-neutral-2 {
  background-color: #23262f !important;
}

.background-neutral-4 {
  background-color: #23262f !important;
}

.container {
  max-width: 112rem;
  margin: 0 auto;
  padding: 0 32px;
}
@media (max-width: 1024px) {
  .container {
    max-width: 864px;
    padding: 0 32px;
  }
}

.hr {
  border-top: 0;
  border-bottom: 1px solid #e6e8ec;
  margin: 2.4rem 0;
}

.hr-standard {
  border-top: 0;
  border-bottom: 1px solid #e6e8ec;
}

.subheading-1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: #777e90;
}

.subheading-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: #777e90;
  margin-bottom: 0.8rem;
}

.heading-1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 6.4rem;
  letter-spacing: -0.02em;
  color: #23262f;
}

.heading-2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
  letter-spacing: -0.02em;
  color: #141416;
}

.heading-3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.01em;
  color: #23262f;
  margin-bottom: 2.4rem;
}

.heading-4 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: -0.01em;
  color: #141416;
}

.hairline-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: #b1b5c4;
}

.eth {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  color: #45b26b;
  width: 68px;
  height: 26px;
  border: 2px solid #45b36b;
  border-radius: 4px;
}

.select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  height: 48px;
  width: 256px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-color: #fcfcfd;
  background-position: 100%;
  background-repeat: no-repeat;
  border: 2px solid #e6e8ec;
  border-radius: 1.2rem;
  padding: 1.2rem 1.6rem;
  outline: none;
  cursor: pointer;
}

.body-1,
.body-1-bold,
.body-1-light {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #23262f;
}

.body-1-bold {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.body-1-light {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.body-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #777e90;
}

.body-2_bold {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #23262f;
}

.body-2_small,
.body-2_small-light {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #23262f;
}

.body-2_small-light {
  color: #777e90;
}

.color-neutrals-3 {
  color: #353945 !important;
}

.nav-link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #777e90;
}

.button-1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #23262f;
  border: 2px solid #e6e8ec;
  border-radius: 90px;
  padding: 1.6rem 2.4rem;
  background-color: transparent;
  cursor: pointer;
}

.button-1_blue {
  background-color: #3772ff;
  color: #fcfcfd;
  border: none;
}

.button-2,
.button-2_blue {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #23262f;
  background: none;
  padding: 0.8rem 1.2rem;
  border: 2px solid #e6e8ec;
  border-radius: 90px;
  cursor: pointer;
}

.button-2_blue {
  background-color: #3772ff;
  color: #fcfcfd;
  border: none;
}

.icon-img {
  background: #e4d7cf;
  border-radius: 48px;
  width: 40px;
  height: 40px;
}

.icon-tiny {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 4.8rem;
}

.icon-img_big {
  width: 56px;
  height: 56px;
  border-radius: 48px;
}

.icon-img_small,
.icon-img_small-violet,
.icon-img_small-yellow,
.icon-img_small-pink,
.icon-img_small-neutral {
  width: 24px;
  height: 24px;
  border-radius: 48px;
}

.icon-img_small-violet,
.icon-img_big-violet {
  background-color: #9757d7;
}

.icon-img_small-yellow,
.icon-img_big-yellow {
  background-color: #ffd166;
}

.icon-img_small-pink,
.icon-img_big-pink {
  background-color: #ef466f;
}

.icon-img_small-neutral,
.icon-img_big-neutral {
  background-color: #e6e8ec;
}

.icon-img_without-background {
  background: none;
}

.caption-2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777e90;
}

.caption-2_bold {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777e90;
}

.caption-2_bold-light {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #777e90;
}

.caption-bold,
.caption-bold_light {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #23262f;
}

.caption-bold_light {
  color: #353945;
}

/* HEADER */
.header {
  border-bottom: 2px solid #fcfcfd;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 81px;
}
.header__nav-list {
  display: flex;
  gap: 3.2rem;
}
@media (max-width: 1024px) {
  .header__nav-list {
    display: none;
  }
}
.header__nav-item a {
  color: #23262f;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.header__nav-item_light a {
  color: #777e90;
}
.header__nav_left {
  display: flex;
  align-items: center;
}
.header__nav_right {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header__nav_right {
    display: none;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-right: 3.2rem;
}
.header__logo-img {
  width: 2rem;
  height: 2rem;
}
.header__logo-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: -0.02em;
  color: #23262f;
}
.header__logo-divider {
  background-color: #e6e8ec;
  width: 0.2rem;
  height: 4rem;
  margin-right: 3.2rem;
}
@media (max-width: 1024px) {
  .header__logo-divider {
    display: none;
  }
}
.header__label {
  position: relative;
  margin-right: 3.5rem;
}
.header__label::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.4rem;
  width: 20px;
  background: url("../img/search-icon.svg") center no-repeat;
}
.header__search {
  padding: 0 1.6rem;
  border: 2px solid #e6e8ec;
  border-radius: 0.8rem;
  width: 25.6rem;
  height: 4rem;
  outline: none;
  cursor: pointer;
}
.header__search[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}
.header__search::-moz-placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777e90;
}
.header__search::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777e90;
}
.header__icon-bell {
  width: 1.9rem;
  height: 1.9rem;
  color: #777e90;
  position: relative;
  margin-right: 3.5rem;
}
.header__icon-bell::after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background-color: #45b26b;
  position: absolute;
  border-radius: 50%;
  top: -10px;
  right: -10px;
}
.header__nav-btn {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 1.2rem 1.6rem;
  border-radius: 9rem;
}
.header__nav-btn_upload {
  color: #fcfcfd;
  background-color: #3772ff;
  margin-right: 1.2rem;
}
.header__nav-btn_connect {
  color: #23262f;
  border: 2px solid #e6e8ec;
  background-color: #fcfcfd;
}

/* SECTION NEW CREATIVE ECONOMY */
.new-economy {
  padding-top: 12.8rem;
  padding-bottom: 12rem;
}
@media (max-width: 1024px) {
  .new-economy {
    padding-top: 11.2rem;
    padding-bottom: 8rem;
  }
}
@media (max-width: 768px) {
  .new-economy {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }
}
.new-economy-top {
  text-align: center;
}
.new-economy-middle {
  display: flex;
  justify-content: space-between;
  padding-top: 12.8rem;
  padding-bottom: 14rem;
  gap: 3.2rem;
}
@media (max-width: 1024px) {
  .new-economy-middle {
    padding-top: 11.2rem;
  }
}
@media (max-width: 768px) {
  .new-economy-middle {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 6.4rem;
  }
}
.new-economy-middle__left {
  position: relative;
  width: 100%;
}
.new-economy-middle__img-1 {
  max-width: 100%;
  border-radius: 16px;
}
@media (max-width: 1024px) {
  .new-economy-middle__img-1 {
    display: none;
  }
}
@media (max-width: 768px) {
  .new-economy-middle__img-1 {
    display: none;
  }
}
.new-economy-middle__img-2 {
  max-width: 100%;
  display: none;
}
@media (max-width: 1024px) {
  .new-economy-middle__img-2 {
    display: block;
  }
}
@media (max-width: 768px) {
  .new-economy-middle__img-2 {
    display: none;
  }
}
.new-economy-middle__img-3 {
  max-width: 100%;
  display: none;
  margin: auto;
}
@media (max-width: 1024px) {
  .new-economy-middle__img-3 {
    display: none;
  }
}
@media (max-width: 768px) {
  .new-economy-middle__img-3 {
    display: block;
  }
}
.new-economy-middle__right {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 35.2rem;
}
@media (max-width: 1024px) {
  .new-economy-middle__right {
    max-width: 30.4rem;
  }
}
.new-economy-middle__icons {
  display: flex;
  justify-content: space-between;
}
.new-economy-middle__icon {
  display: flex;
  gap: 0.8rem;
}
.new-economy-middle__card-count {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background: #fcfcfd;
  border: 2px solid #e6e8ec;
  box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 2.4rem;
  padding: 3.2rem 0;
}
.new-economy-middle__card-time {
  display: flex;
  gap: 1.95rem;
  justify-content: center;
}
.new-economy-middle__btns {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.new-economy-middle__pagination {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .new-economy-middle__pagination {
    justify-content: center;
  }
}
.new-economy-middle__pagination_arrow {
  color: #777e90;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border: none;
  background: none;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.new-economy-middle__pagination_arrow-border {
  border: 2px solid #e6e8ec;
  border-radius: 4rem;
  text-align: center;
}
.new-economy-bottom {
  display: flex;
  flex-wrap: wrap;
}
.new-economy-bottom__col-1 {
  padding-right: 2.4rem;
  width: 40%;
}
@media (max-width: 1024px) {
  .new-economy-bottom__col-1 {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .new-economy-bottom__col-1 {
    width: 100%;
    padding-right: 0;
  }
}
.new-economy-bottom__col-1 img.illustration {
  width: 100%;
  border-radius: 12px;
}
.new-economy-bottom__col-1 .avatar {
  width: 4.8rem;
  height: 4.8rem;
  background: #e6e8ec;
  border-radius: 4.8rem;
}
.new-economy-bottom__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 44.8rem;
  margin-top: 1rem;
}
.new-economy-bottom__col-2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  max-width: 35.1rem;
  margin-right: 6rem;
}
@media (max-width: 1024px) {
  .new-economy-bottom__col-2 {
    width: 48%;
    margin-right: 0;
  }
}
.new-economy-bottom__col-2 .news-card {
  gap: 2.4rem;
  display: flex;
}
@media (max-width: 768px) {
  .new-economy-bottom__col-2 .news-card {
    display: none;
  }
}
.new-economy-bottom__col-2 .news-card img.illustration {
  max-width: 16rem;
  max-height: 14.8rem;
  border-radius: 12px;
}
.new-economy-bottom__col-2 .news-card__items {
  display: flex;
  gap: 1.1rem;
  align-items: center;
  margin-bottom: 1.6rem;
  margin-top: 0.8rem;
}
.new-economy-bottom__col-3 {
  width: 15%;
  position: relative;
}
@media (max-width: 1024px) {
  .new-economy-bottom__col-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 6.4rem;
  }
}
@media (max-width: 1024px) {
  .new-economy-bottom__col-3 .card-creators-helper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.new-economy-bottom__col-3 .new-economy-hr {
  display: none;
}
@media (max-width: 768px) {
  .new-economy-bottom__col-3 .new-economy-hr {
    display: block;
    position: relative;
    top: -3.5rem;
  }
}
.new-economy-bottom__col-3 .card-creators {
  display: flex;
  gap: 1.6rem;
  position: relative;
  margin-bottom: 4.8rem;
}
.new-economy-bottom__col-3 .card-creators div.helper::after {
  content: attr(num);
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  background: #23262f;
  color: #fcfcfd;
  border: 2px solid #fcfcfd;
  border-radius: 64px;
  top: -4px;
  left: -8px;
  text-align: center;
}
.new-economy-bottom__col-3 .card-creators img.icon-img_big {
  position: relative;
}
@media (max-width: 768px) {
  .new-economy-bottom__col-3 .card-creators:nth-child(4) {
    display: none;
  }
}
@media (max-width: 600px) {
  .new-economy-bottom__col-3 .card-creators:nth-child(3) {
    display: none;
  }
}
@media (max-width: 400px) {
  .new-economy-bottom__col-3 .card-creators:nth-child(2) {
    display: none;
  }
}
.new-economy-bottom__col-3 .card-creators::after {
  content: "";
  position: absolute;
  width: 22.4rem;
  height: 1px;
  background: #e6e8ec;
  bottom: -2rem;
}
@media (max-width: 1024px) {
  .new-economy-bottom__col-3 .card-creators::after {
    width: 0;
  }
}
.new-economy-bottom__col-3 .card-creators.without-hr::after {
  content: "";
  width: 0;
}
@media (max-width: 1024px) {
  .new-economy-bottom__col-3 .card-creators-button {
    display: none;
  }
}
.new-economy-bottom__col-3::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 51.2rem;
  background: #e6e8ec;
  left: -3.2rem;
}
@media (max-width: 1024px) {
  .new-economy-bottom__col-3::before {
    width: 0;
  }
}

/* SECTION SELLERS */
.sellers {
  padding: 12.8rem 0;
  background-color: #f4f5f6;
}
@media (max-width: 1024px) {
  .sellers {
    padding: 11.2rem 0;
  }
}
@media (max-width: 768px) {
  .sellers {
    padding: 6.4rem 0;
  }
}
.sellers-helper {
  position: relative;
}
.sellers__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
  margin-bottom: 6.4rem;
}
@media (max-width: 500px) {
  .sellers__top {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2.4rem;
  }
}
.sellers__top .icon {
  position: relative;
  top: -4px;
  left: 10px;
}
.sellers__top .sellers-timeframe {
  margin-bottom: 1.2rem;
}
.sellers-buttons .sellers-button_left {
  position: absolute;
  left: -7rem;
  bottom: 12rem;
}
@media (max-width: 1230px) {
  .sellers-buttons .sellers-button_left {
    position: relative;
    left: 0;
    bottom: 0;
  }
}
.sellers-buttons .sellers-button_right {
  position: absolute;
  right: -7rem;
  bottom: 12rem;
}
@media (max-width: 1230px) {
  .sellers-buttons .sellers-button_right {
    position: relative;
    right: 0;
    bottom: 0;
  }
}
@media (max-width: 1230px) {
  .sellers-buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3.2rem;
  }
}
.sellers__bottom .cards {
  display: flex;
  gap: 3.2rem;
  justify-content: center;
}
@media (max-width: 1024px) {
  .sellers__bottom .cards {
    flex-wrap: wrap;
  }
}
.sellers__bottom .cards .card.active {
  height: 26.3rem;
  box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
}
.sellers__bottom .cards .card {
  background-color: #fcfcfd;
  padding: 2.4rem;
  border-radius: 16px;
  width: 198px;
  height: 24.7rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .sellers__bottom .cards .card {
    width: 22rem;
  }
}
.sellers__bottom .cards .card__top {
  display: flex;
}
.sellers__bottom .cards .card__top-badge {
  display: inline-flex;
  padding: 4px 8px;
  background-color: #3772ff;
  color: #fcfcfd;
  border-radius: 24px;
  gap: 4px;
  margin-right: auto;
}
.sellers__bottom .cards .card__top-badge span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #fcfcfd;
}
.sellers__bottom .cards .card__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sellers__bottom .cards .card__bottom-img {
  width: 64px;
  height: 64px;
  margin-bottom: 2rem;
}
.sellers__bottom .cards .card__bottom-img img.avatar {
  width: 100%;
  background: #e4d7cf;
  border-radius: 48px;
}
.sellers__bottom .cards .card__bottom-img img.diamond {
  position: relative;
  bottom: 3rem;
  left: 4.2rem;
}
.sellers__bottom .cards .card__bottom .name {
  margin-bottom: 0.2rem;
}
@media (max-width: 1230px) {
  .sellers__bottom .cards .card:nth-child(5) {
    display: none;
  }
}
@media (max-width: 768px) {
  .sellers__bottom .cards .card:nth-child(3),
  .sellers__bottom .cards .card:nth-child(4) {
    display: none;
  }
}
@media (max-width: 400px) {
  .sellers__bottom .cards .card:nth-child(2) {
    display: none;
  }
}

/* SECTION HOT BIDS */
.hot-bid {
  padding: 13.6rem 0;
}
@media (max-width: 1024px) {
  .hot-bid {
    padding: 11.2rem 0 13.2rem;
  }
}
@media (max-width: 768px) {
  .hot-bid {
    padding: 6.4rem 0;
  }
}
.hot-bid__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.hot-bid__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.2rem 3.2rem;
}
@media (max-width: 1023px) {
  .hot-bid__cards {
    flex-wrap: wrap;
  }
}
.hot-bid__cards .hot-card {
  max-width: 24rem;
}
.hot-bid__cards .hot-card__img {
  width: 100%;
  margin-bottom: 2.1rem;
  border-radius: 16px;
}
.hot-bid__cards .hot-card__middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}
.hot-bid__cards .hot-card__middle-left h3 {
  margin-bottom: 1.2rem;
}
.hot-bid__cards .hot-card__middle-right p {
  margin-bottom: 1.2rem;
}
.hot-bid__cards .hot-card__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
  align-items: center;
}
.hot-bid__cards .hot-card__bottom-left {
  display: flex;
  gap: 0.4rem;
}
@media (max-width: 1200px) {
  .hot-bid__cards .hot-card:nth-child(4) {
    display: none;
  }
}
@media (max-width: 768px) {
  .hot-bid__cards .hot-card:nth-child(3),
  .hot-bid__cards .hot-card:nth-child(2) {
    display: none;
  }
}

/* SECTION HOT COLLECTIONS */
.hot-collections {
  padding: 12.8rem 0rem;
  background-color: #f4f5f6;
  position: relative;
}
@media (max-width: 1024px) {
  .hot-collections {
    padding: 11.2rem 0rem;
  }
}
@media (max-width: 768px) {
  .hot-collections {
    padding: 6.4rem 0rem;
  }
}
.hot-collections__top {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1025px) {
  .hot-collections__btns {
    display: none;
  }
}
@media (max-width: 1024px) {
  .hot-collections__btns {
    display: block;
  }
}
@media (max-width: 768px) {
  .hot-collections__btns {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    bottom: -6%;
    margin-top: -50px;
  }
}
.hot-collections__cards {
  display: flex;
  justify-content: center;
  margin-top: 6.8rem;
  gap: 3.2rem;
}
@media (max-width: 1024px) {
  .hot-collections__cards {
    flex-wrap: wrap;
  }
}
.hot-collections__cards .hot-coll-card {
  max-width: 35.2rem;
  width: 33.33%;
}
@media (max-width: 1024px) {
  .hot-collections__cards .hot-coll-card {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .hot-collections__cards .hot-coll-card {
    width: 100%;
  }
}
.hot-collections__cards .hot-coll-card .hot-coll-img {
  border-radius: 8px;
  width: 100%;
}
.hot-collections__cards .hot-coll-card .hot-coll-3cards {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  margin-bottom: 1.2rem;
}
.hot-collections__cards .hot-coll-card .hot-coll-3cards__bottom-img {
  width: 33.33%;
}
.hot-collections__cards .hot-coll-card .hot-coll-by-whom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hot-collections__cards .hot-coll-card .hot-coll-by-whom_left {
  display: flex;
  gap: 1.2rem;
}
.hot-collections__cards .hot-coll-card .hot-coll-by-whom .items-num {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: #23262f;
}
@media (max-width: 1024px) {
  .hot-collections__cards .hot-coll-card:nth-child(3) {
    display: none;
  }
}
@media (max-width: 768px) {
  .hot-collections__cards .hot-coll-card:nth-child(2) {
    display: none;
  }
}

/* SECTION DISCOVER */
.discover {
  padding: 12.8em 0rem;
  background-color: #fcfcfd;
}
@media (max-width: 1024px) {
  .discover {
    padding: 11.2rem 0;
  }
}
@media (max-width: 1024px) {
  .discover {
    padding: 6.4rem 0;
  }
}
@media (max-width: 768px) {
  .discover .discover-hr {
    display: none;
  }
}
.discover__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 3.2rem;
}
@media (max-width: 768px) {
  .discover__nav {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.8rem;
    margin-top: 6.4rem;
  }
}
@media (max-width: 400px) {
  .discover__nav {
    align-items: center;
    margin-top: 3.2rem;
  }
}
.discover__nav .nav-left select.recently-added-filter {
  width: 18rem;
}
@media (max-width: 768px) {
  .discover__nav .nav-left select.recently-added-filter {
    width: 25.6rem;
  }
}
.discover__nav .nav-middle .all-items-mobile-btn {
  display: none;
}
@media (max-width: 768px) {
  .discover__nav .nav-middle .all-items-mobile-btn {
    display: block;
  }
}
@media (max-width: 1024px) {
  .discover__nav .nav-middle .music-btn,
  .discover__nav .nav-middle .video-btn {
    display: none;
  }
}
@media (max-width: 768px) {
  .discover__nav .nav-middle .all-items-btn,
  .discover__nav .nav-middle .art-btn,
  .discover__nav .nav-middle .game-btn,
  .discover__nav .nav-middle .photography-btn {
    display: none;
  }
}
.discover__nav .nav-right a.filter-btn {
  margin-right: 0;
  display: inline-block;
  width: 116px;
}
@media (max-width: 768px) {
  .discover__nav .nav-right a.filter-btn {
    display: none;
  }
}
.discover__nav .advanced-filter-btn {
  display: none;
}
@media (max-width: 768px) {
  .discover__nav .advanced-filter-btn {
    display: block;
    width: 25.6rem;
  }
}
.discover__filters {
  display: flex;
  margin-bottom: 3.4rem;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .discover__filters {
    flex-wrap: wrap;
    row-gap: 2.4rem;
  }
}
@media (max-width: 400px) {
  .discover__filters {
    display: none;
  }
}
.discover__filters .discover-filter {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.discover__filters .discover-filter .scrollbar-img {
  height: 6rem;
  position: relative;
}
.discover__filters .discover-filter .discover-eths {
  display: flex;
  justify-content: space-between;
  margin-top: -1.8rem;
}
.discover__filters .discover-filter.different {
  gap: 0;
}
@media (max-width: 1024px) {
  .discover__filters .creator-filter {
    display: none;
  }
}
.discover__button {
  display: block;
  margin: 5.2rem auto 0;
  width: 13.2rem;
  height: 4rem;
}
@media (max-width: 768px) {
  .discover__button {
    display: none;
  }
}
.discover__button-svg {
  position: relative;
  top: 0.35rem;
  left: 0.4rem;
}
.discover hr {
  margin-bottom: 3.2rem;
}
.discover__btns {
  display: flex;
  justify-content: center;
  margin-top: 5.2rem;
}
@media (min-width: 769px) {
  .discover__btns {
    display: none;
  }
}

/* SECTION EARN CRYPTO */
@media (max-width: 768px) {
  .earn-crypto-hr {
    display: none;
  }
}

.earn-crypto {
  padding: 8rem 0;
  background-color: #fcfcfd;
}
.earn-crypto__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .earn-crypto__block {
    flex-direction: column;
    row-gap: 4rem;
  }
}
@media (max-width: 768px) {
  .earn-crypto__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.earn-crypto__left .save-time-subheading {
  margin-bottom: 1.2rem;
}
.earn-crypto__left .earn-heading {
  margin-bottom: 2rem;
}
.earn-crypto__left .creative-info {
  font-weight: 400;
  margin-bottom: 4rem;
}
.earn-crypto__buttons {
  display: flex;
  gap: 1.6rem;
}
@media (max-width: 768px) {
  .earn-crypto__buttons {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
}
@media (max-width: 400px) {
  .earn-crypto__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.earn-crypto__right {
  max-width: 64rem;
}
@media (max-width: 768px) {
  .earn-crypto__right {
    max-width: 31rem;
  }
}
.earn-crypto__right-img {
  width: 100%;
}

/* FOOTER */
.footer {
  padding: 8rem 0 3.2rem;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8rem;
}
@media (max-width: 900px) {
  .footer__content {
    flex-direction: column;
    row-gap: 3.2rem;
  }
}
.footer__col-1 {
  flex-basis: 22.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-right: 12.8rem;
}
@media (max-width: 1024px) {
  .footer__col-1 {
    margin-right: 3.4rem;
  }
}
@media (max-width: 900px) {
  .footer__col-1 {
    flex-basis: auto;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .footer__col-1 .footer-subtitle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #23262f;
  }
}
.footer__col-2-helper {
  display: flex;
}
@media (max-width: 900px) {
  .footer__col-2-helper {
    flex-direction: column;
    row-gap: 3.2rem;
  }
}
@media (min-width: 769px) {
  .footer .footer-hr {
    display: none;
  }
}
.footer__col-2 .footer-section-heading {
  margin-bottom: 4rem;
  min-width: 16rem;
}
.footer__col-2-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer__col-4 {
  width: 35.2rem;
}
@media (max-width: 768px) {
  .footer__col-4 {
    width: auto;
  }
}
.footer__col-4 .footer-section-heading {
  margin-bottom: 4rem;
}
.footer__col-4 .footer__label {
  position: relative;
}
.footer__col-4 .footer__label::before {
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: 1rem;
  width: 3.2rem;
  cursor: pointer;
  background: url("../img/footer-circle-button.svg") center no-repeat;
}
.footer__col-4 .footer__search {
  padding: 0 1.6rem;
  border: 2px solid #e6e8ec;
  border-radius: 90px;
  width: 35.2rem;
  height: 4.8rem;
  outline: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .footer__col-4 .footer__search {
    width: 100%;
  }
}
.footer__col-4 .footer__search[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}
.footer__col-4 .footer__search::-moz-placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777e90;
}
.footer__col-4 .footer__search::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777e90;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3.2rem;
}
.footer__bottom .footer-accept {
  margin-left: 1.6rem;
}
@media (max-width: 768px) {
  .footer__cookies {
    display: none;
  }
}
@media (max-width: 900px) {
  .footer-icon-helper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.footer-icon-shape {
  display: none;
  cursor: pointer;
}
@media (max-width: 900px) {
  .footer-icon-shape {
    display: block;
  }
}

.upload-header {
  border: none;
}

.navigations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0;
  border-top: #e6e8ec 1px solid;
  border-bottom: #e6e8ec 1px solid;
}
.navigations-right {
  display: flex;
  gap: 3.3rem;
}
@media (max-width: 500px) {
  .navigations-right {
    display: none;
  }
}

.upload-item {
  padding: 8rem 0 13.6rem;
}
@media (max-width: 768px) {
  .upload-item {
    padding: 3.2rem 0 6.4rem;
  }
}

.upload-top {
  margin: auto;
  max-width: 634px;
  text-align: center;
}
.upload-top .subheading-upload {
  margin-top: 1.6rem;
  margin-bottom: 9.6rem;
  max-width: 73.6rem;
}
@media (max-width: 768px) {
  .upload-top .subheading-upload {
    margin-bottom: 3.2rem;
  }
}

.upload-images {
  display: flex;
  flex-wrap: wrap;
  gap: 2.2rem;
  justify-content: center;
}
@media (max-width: 400px) {
  .upload-images {
    justify-content: flex-start;
  }
}
.upload-images .upload-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  border: 1px solid #e6e8ec;
  border-radius: 16px;
  padding: 1.6rem 1.6rem 2.4rem;
}
@media (max-width: 400px) {
  .upload-images .upload-card {
    flex-direction: row;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e6e8ec;
    gap: 0;
    justify-content: space-between;
  }
}
@media (max-width: 400px) {
  .upload-images .upload-card .update-img {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
  }
}
@media (max-width: 400px) {
  .upload-images .upload-card .upload-btn {
    border: none;
    background-color: transparent;
    color: #23262f;
    margin-right: auto;
  }
}
.upload-images .upload-card .upload-arrow-shape {
  display: none;
}
@media (max-width: 400px) {
  .upload-images .upload-card .upload-arrow-shape {
    display: block;
  }
}

.add-info-upload {
  text-align: center;
  margin-top: 3.2rem;
}/*# sourceMappingURL=style.css.map */