/* FONTS */
$primary-font: 'Poppins';
$secondary-font: 'DM Sans';

/* COLORS */
$blue: #3772ff;
$green: #45b26b;
$violet: #9757d7;
$yellow: #ffd166;
$pink: #ef466f;
$neutrals-1: #141416;
$neutrals-2: #23262f;
$neutrals-3: #353945;
$neutrals-4: #777e90;
$neutrals-5: #b1b5c4;
$neutrals-6: #e6e8ec;
$neutrals-7: #f4f5f6;
$neutrals-8: #fcfcfd;

/* GENERAL STYLE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: $neutrals-2;
}

.hamburger-menu {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.margin-btm-2rem {
  margin-bottom: 2rem;
}

.margin-btm-2p4rem {
  margin-bottom: 2.4rem;
}

.color-blue {
  color: $blue !important;
}

.color-neutrals-2 {
  color: $neutrals-2 !important;
}

.color-neutrals-4 {
  color: $neutrals-4 !important;
}

.color-neutrals-5 {
  color: $neutrals-5 !important;
}

.color-neutrals-8 {
  color: $neutrals-8 !important;
}

.borderless {
  border: none !important;
}
.background-violet {
  background-color: $violet !important;
}

.background-green {
  background-color: $green !important;
}

.background-neutral-2 {
  background-color: $neutrals-2 !important;
}

.background-neutral-4 {
  background-color: $neutrals-2 !important;
}

.container {
  max-width: 112rem;
  margin: 0 auto;
  padding: 0 32px;

  @media (max-width: 1024px) {
    max-width: 864px;
    padding: 0 32px;
  }
}

.hr {
  border-top: 0;
  border-bottom: 1px solid $neutrals-6;
  margin: 2.4rem 0;
}

.hr-standard {
  border-top: 0;
  border-bottom: 1px solid $neutrals-6;
}

.subheading-1 {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: $neutrals-4;
}

.subheading-2 {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: $neutrals-4;
  margin-bottom: 0.8rem;
}

.heading-1 {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 6.4rem;
  letter-spacing: -0.02em;
  color: $neutrals-2;
}

.heading-2 {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
  letter-spacing: -0.02em;
  color: $neutrals-1;
}

.heading-3 {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.01em;
  color: $neutrals-2;
  margin-bottom: 2.4rem;
}

.heading-4 {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: -0.01em;
  color: $neutrals-1;
}

.hairline-2 {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: $neutrals-5;
}

.eth {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  color: $green;
  width: 68px;
  height: 26px;
  border: 2px solid #45b36b;
  border-radius: 4px;
}

.select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  height: 48px;
  width: 256px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-color: $neutrals-8;
  background-position: 100%;
  background-repeat: no-repeat;
  border: 2px solid $neutrals-6;
  border-radius: 1.2rem;
  padding: 1.2rem 1.6rem;
  outline: none;
  cursor: pointer;
}

.body-1,
.body-1-bold,
.body-1-light {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $neutrals-2;
}

.body-1-bold {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.body-1-light {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.body-2 {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: $neutrals-4;
}

.body-2_bold {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $neutrals-2;
}

.body-2_small,
.body-2_small-light {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $neutrals-2;
}

.body-2_small-light {
  color: $neutrals-4;
}

.color-neutrals-3 {
  color: $neutrals-3 !important;
}

.nav-link {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $neutrals-4;
}

.button-1 {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: $neutrals-2;
  border: 2px solid $neutrals-6;
  border-radius: 90px;
  padding: 1.6rem 2.4rem;
  background-color: transparent;
  cursor: pointer;
}

.button-1_blue {
  background-color: $blue;
  color: $neutrals-8;
  border: none;
}

.button-2,
.button-2_blue {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $neutrals-2;
  background: none;
  padding: 0.8rem 1.2rem;
  border: 2px solid $neutrals-6;
  border-radius: 90px;
  cursor: pointer;
}

.button-2_blue {
  background-color: $blue;
  color: $neutrals-8;
  border: none;
}

.icon-img {
  background: #e4d7cf;
  border-radius: 48px;
  width: 40px;
  height: 40px;
}

.icon-tiny {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 4.8rem;
}

.icon-img_big {
  width: 56px;
  height: 56px;
  border-radius: 48px;
}

.icon-img_small,
.icon-img_small-violet,
.icon-img_small-yellow,
.icon-img_small-pink,
.icon-img_small-neutral {
  width: 24px;
  height: 24px;
  border-radius: 48px;
}

.icon-img_small-violet,
.icon-img_big-violet {
  background-color: $violet;
}

.icon-img_small-yellow,
.icon-img_big-yellow {
  background-color: $yellow;
}

.icon-img_small-pink,
.icon-img_big-pink {
  background-color: $pink;
}

.icon-img_small-neutral,
.icon-img_big-neutral {
  background-color: $neutrals-6;
}

.icon-img_without-background {
  background: none;
}

.caption-2 {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: $neutrals-4;
}

.caption-2_bold {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  color: $neutrals-4;
}

.caption-2_bold-light {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: $neutrals-4;
}

.caption-bold,
.caption-bold_light {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: $neutrals-2;
}

.caption-bold_light {
  color: $neutrals-3;
}

/* HEADER */

.header {
  border-bottom: 2px solid $neutrals-8;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 81px;

    &-list {
      display: flex;
      gap: 3.2rem;

      @media (max-width: 1024px) {
        display: none;
      }
    }

    &-item {
      a {
        color: $neutrals-2;
        font-family: $secondary-font;
        font-style: normal;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.6rem;
      }

      &_light {
        a {
          color: $neutrals-4;
        }
      }
    }

    &_left {
      display: flex;
      align-items: center;
    }

    &_right {
      display: flex;
      align-items: center;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-right: 3.2rem;

    &-img {
      width: 2rem;
      height: 2rem;
    }

    &-title {
      font-family: $primary-font;
      font-style: normal;
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 3.2rem;
      letter-spacing: -0.02em;
      color: $neutrals-2;
    }

    &-divider {
      background-color: $neutrals-6;
      width: 0.2rem;
      height: 4rem;
      margin-right: 3.2rem;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  &__label {
    position: relative;
    margin-right: 3.5rem;
  }

  &__label::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.4rem;
    width: 20px;
    background: url('../img/search-icon.svg') center no-repeat;
  }

  &__search {
    padding: 0 1.6rem;
    border: 2px solid $neutrals-6;
    border-radius: 0.8rem;
    width: 25.6rem;
    height: 4rem;
    outline: none;
    cursor: pointer;
  }

  &__search[type='search']::-webkit-search-cancel-button {
    appearance: none;
  }

  &__search::placeholder {
    font-family: $primary-font;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 2rem;
    color: $neutrals-4;
  }

  &__icon-bell {
    width: 1.9rem;
    height: 1.9rem;
    color: $neutrals-4;
    position: relative;
    margin-right: 3.5rem;
  }

  &__icon-bell::after {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    background-color: $green;
    position: absolute;
    border-radius: 50%;
    top: -10px;
    right: -10px;
  }

  &__nav-btn {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 1.2rem 1.6rem;
    border-radius: 9rem;

    &_upload {
      color: $neutrals-8;
      background-color: $blue;
      margin-right: 1.2rem;
    }

    &_connect {
      color: $neutrals-2;
      border: 2px solid $neutrals-6;
      background-color: $neutrals-8;
    }
  }
}

/* SECTION NEW CREATIVE ECONOMY */
.new-economy {
  padding-top: 12.8rem;
  padding-bottom: 12rem;

  @media (max-width: 1024px) {
    padding-top: 11.2rem;
    padding-bottom: 8rem;
  }

  @media (max-width: 768px) {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }

  &-top {
    text-align: center;
  }

  &-middle {
    display: flex;
    justify-content: space-between;
    padding-top: 12.8rem;
    padding-bottom: 14rem;
    gap: 3.2rem;

    @media (max-width: 1024px) {
      padding-top: 11.2rem;
    }

    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 6.4rem;
    }

    &__left {
      position: relative;
      width: 100%;
    }

    &__img-1 {
      max-width: 100%;
      border-radius: 16px;

      @media (max-width: 1024px) {
        display: none;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    &__img-2 {
      max-width: 100%;
      display: none;

      @media (max-width: 1024px) {
        display: block;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    &__img-3 {
      max-width: 100%;
      display: none;
      margin: auto;

      @media (max-width: 1024px) {
        display: none;
      }

      @media (max-width: 768px) {
        display: block;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      max-width: 35.2rem;

      @media (max-width: 1024px) {
        max-width: 30.4rem;
      }
      @media (max-width: 768px) {
        // width: 100%;
      }
    }

    &__icons {
      display: flex;
      justify-content: space-between;
      // gap: 6.55rem;
    }
    &__icon {
      display: flex;
      gap: 0.8rem;
    }

    &__card {
      &-count {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        background: $neutrals-8;
        border: 2px solid $neutrals-6;
        box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
        border-radius: 2.4rem;
        padding: 3.2rem 0;
      }
      &-time {
        display: flex;
        gap: 1.95rem;
        justify-content: center;
      }
    }
    &__btns {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }
    &__pagination {
      display: flex;
      align-items: center;

      @media (max-width: 768px) {
        justify-content: center;
      }

      &_arrow {
        color: $neutrals-4;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        border: none;
        background: none;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
      }
      &_arrow-border {
        border: 2px solid $neutrals-6;
        border-radius: 4rem;
        text-align: center;
      }
    }
  }

  &-bottom {
    display: flex;
    flex-wrap: wrap;

    &__col-1 {
      padding-right: 2.4rem;
      width: 40%;

      @media (max-width: 1024px) {
        width: 50%;
      }

      @media (max-width: 768px) {
        width: 100%;
        padding-right: 0;
      }

      img.illustration {
        width: 100%;
        border-radius: 12px;
      }

      .avatar {
        width: 4.8rem;
        height: 4.8rem;
        background: $neutrals-6;
        border-radius: 4.8rem;
      }
    }

    &__info {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 44.8rem;
      margin-top: 1rem;
    }

    &__col-2 {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 2.6rem;
      max-width: 35.1rem;
      margin-right: 6rem;

      @media (max-width: 1024px) {
        width: 48%;
        margin-right: 0;
      }

      .news-card {
        gap: 2.4rem;
        display: flex;

        @media (max-width: 768px) {
          display: none;
        }

        img.illustration {
          max-width: 16rem;
          max-height: 14.8rem;
          border-radius: 12px;
        }

        &__items {
          display: flex;
          gap: 1.1rem;
          align-items: center;
          margin-bottom: 1.6rem;
          margin-top: 0.8rem;
        }
      }
    }
    &__col-3 {
      width: 15%;
      position: relative;

      @media (max-width: 1024px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 6.4rem;
      }

      .card-creators-helper {
        @media (max-width: 1024px) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      .new-economy-hr {
        display: none;

        @media (max-width: 768px) {
          display: block;
          position: relative;
          top: -3.5rem;
        }
      }

      .card-creators {
        display: flex;
        gap: 1.6rem;
        position: relative;
        margin-bottom: 4.8rem;

        div.helper::after {
          content: attr(num);
          position: absolute;
          width: 2.4rem;
          height: 2.4rem;
          background: $neutrals-2;
          color: $neutrals-8;
          border: 2px solid $neutrals-8;
          border-radius: 64px;
          top: -4px;
          left: -8px;
          text-align: center;
        }

        img.icon-img_big {
          position: relative;
        }
      }

      .card-creators:nth-child(4) {
        @media (max-width: 768px) {
          display: none;
        }
      }

      .card-creators:nth-child(3) {
        @media (max-width: 600px) {
          display: none;
        }
      }

      .card-creators:nth-child(2) {
        @media (max-width: 400px) {
          display: none;
        }
      }

      .card-creators::after {
        content: '';
        position: absolute;
        width: 22.4rem;
        height: 1px;
        background: $neutrals-6;
        bottom: -2rem;

        @media (max-width: 1024px) {
          width: 0;
        }
      }

      .card-creators.without-hr::after {
        content: '';
        width: 0;
      }

      .card-creators-button {
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }

    &__col-3::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 51.2rem;
      background: $neutrals-6;
      left: -3.2rem;

      @media (max-width: 1024px) {
        width: 0;
      }
    }
  }
}

/* SECTION SELLERS */

.sellers {
  padding: 12.8rem 0;
  background-color: $neutrals-7;

  @media (max-width: 1024px) {
    padding: 11.2rem 0;
  }

  @media (max-width: 768px) {
    padding: 6.4rem 0;
  }

  &-helper {
    position: relative;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 6.4rem;

    @media (max-width: 500px) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 2.4rem;
    }
    .icon {
      position: relative;
      top: -4px;
      left: 10px;
    }

    .sellers-timeframe {
      margin-bottom: 1.2rem;
    }
  }

  &-buttons {
    .sellers-button {
      &_left {
        position: absolute;
        left: -7rem;
        bottom: 12rem;

        @media (max-width: 1230px) {
          position: relative;
          left: 0;
          bottom: 0;
        }
      }
      &_right {
        position: absolute;
        right: -7rem;
        bottom: 12rem;

        @media (max-width: 1230px) {
          position: relative;
          right: 0;
          bottom: 0;
        }
      }
    }

    @media (max-width: 1230px) {
      display: flex;
      justify-content: center;
      gap: 3rem;
      margin-top: 3.2rem;
    }
  }

  &__bottom {
    .cards {
      display: flex;
      gap: 3.2rem;
      justify-content: center;

      @media (max-width: 1024px) {
        flex-wrap: wrap;
      }

      .card.active {
        height: 26.3rem;
        box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
      }

      .card {
        background-color: $neutrals-8;
        padding: 2.4rem;
        border-radius: 16px;
        width: 198px;
        height: 24.7rem;
        cursor: pointer;

        @media (max-width: 768px) {
          width: 22rem;
        }

        &__top {
          display: flex;
          &-badge {
            display: inline-flex;
            padding: 4px 8px;
            background-color: $blue;
            color: $neutrals-8;
            border-radius: 24px;
            gap: 4px;
            margin-right: auto;

            span {
              font-family: $primary-font;
              font-style: normal;
              font-weight: 600;
              font-size: 1.2rem;
              line-height: 2rem;
              color: $neutrals-8;
            }
          }
        }

        &__bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
          &-img {
            width: 64px;
            height: 64px;
            margin-bottom: 2rem;

            img.avatar {
              width: 100%;
              background: #e4d7cf;
              border-radius: 48px;
            }
            img.diamond {
              position: relative;
              bottom: 3rem;
              left: 4.2rem;
            }
          }
          .name {
            margin-bottom: 0.2rem;
          }
        }
      }

      .card:nth-child(5) {
        @media (max-width: 1230px) {
          display: none;
        }
      }

      .card:nth-child(3),
      .card:nth-child(4) {
        @media (max-width: 768px) {
          display: none;
        }
      }

      .card:nth-child(2) {
        @media (max-width: 400px) {
          display: none;
        }
      }
    }
  }
}

/* SECTION HOT BIDS */
.hot-bid {
  padding: 13.6rem 0;

  @media (max-width: 1024px) {
    padding: 11.2rem 0 13.2rem;
  }

  @media (max-width: 768px) {
    padding: 6.4rem 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.2rem 3.2rem;

    @media (max-width: 1023px) {
      flex-wrap: wrap;
    }

    .hot-card {
      max-width: 25.6rem;

      &__img {
        width: 100%;
        margin-bottom: 2.1rem;
        border-radius: 16px;
      }

      &__middle {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.2rem;

        &-left {
          h3 {
            margin-bottom: 1.2rem;
          }
        }
        &-right {
          p {
            margin-bottom: 1.2rem;
          }
        }
      }
      &__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 1.2rem;
        align-items: center;

        &-left {
          display: flex;
          gap: 0.4rem;
        }
      }
    }

    .hot-card:nth-child(4) {
      @media (max-width: 1200px) {
        display: none;
      }
    }

    .hot-card:nth-child(3),
    .hot-card:nth-child(2) {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

/* SECTION HOT COLLECTIONS */
.hot-collections {
  padding: 12.8rem 0rem;
  background-color: $neutrals-7;
  position: relative;

  @media (max-width: 1024px) {
    padding: 11.2rem 0rem;
  }

  @media (max-width: 768px) {
    padding: 6.4rem 0rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__btns {
    @media (min-width: 1025px) {
      display: none;
    }

    @media (max-width: 1024px) {
      display: block;
    }

    @media (max-width: 768px) {
      height: 100px;
      width: 100px;
      position: absolute;
      left: 50%;
      margin-left: -45px;
      bottom: -6%;
      margin-top: -50px;
    }
  }

  &__cards {
    display: flex;
    justify-content: center;
    margin-top: 6.8rem;
    gap: 3.2rem;

    @media (max-width: 1024px) {
      flex-wrap: wrap;
    }

    .hot-coll-card {
      max-width: 35.2rem;
      width: 33.33%;

      @media (max-width: 1024px) {
        width: 50%;
      }

      @media (max-width: 768px) {
        width: 100%;
      }

      .hot-coll-img {
        border-radius: 8px;
        width: 100%;
      }

      .hot-coll-3cards {
        display: flex;
        justify-content: center;
        gap: 0.3rem;
        margin-bottom: 1.2rem;

        &__bottom-img {
          width: 33.33%;
        }
      }

      .hot-coll-by-whom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_left {
          display: flex;
          gap: 1.2rem;
        }

        .items-num {
          font-family: $primary-font;
          font-style: normal;
          font-weight: 700;
          font-size: 1.2rem;
          line-height: 1.2rem;
          text-transform: uppercase;
          color: $neutrals-2;
        }
      }
    }

    .hot-coll-card:nth-child(3) {
      @media (max-width: 1024px) {
        display: none;
      }
    }

    .hot-coll-card:nth-child(2) {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

/* SECTION DISCOVER */
.discover {
  padding: 12.8em 16rem;
  background-color: $neutrals-8;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 3.2rem;

    .nav-left {
      select {
        width: 18rem;
      }
    }

    .nav-right {
      a {
        margin-right: 0;
        display: inline-block;
        width: 116px;
      }
    }
  }

  &__filters {
    display: flex;
    gap: 5rem;
    margin-bottom: 3.4rem;

    .discover-filter {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      .scrollbar-img {
        height: 6rem;
        position: relative;
      }

      .discover-eths {
        display: flex;
        justify-content: space-between;
        margin-top: -1.8rem;
      }
    }
    .discover-filter.different {
      gap: 0;
    }
  }
  &__button {
    display: block;
    margin: 5.2rem auto 0;
    width: 13.2rem;
    height: 4rem;

    &-svg {
      position: relative;
      top: 0.35rem;
      left: 0.4rem;
    }
  }
  hr {
    margin-bottom: 3.2rem;
  }
}

/* SECTION EARN CRYPTO */
.earn-crypto {
  padding: 8rem 0;
  background-color: $neutrals-8;

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    flex-shrink: 0;
    flex-basis: 54.5rem;
    .save-time-subheading {
      margin-bottom: 1.2rem;
    }
    .earn-heading {
      margin-bottom: 2rem;
    }
    .creative-info {
      font-weight: 400;
      margin-bottom: 4rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 1.6rem;
  }

  &__right {
    max-width: 64rem;
    &-img {
      width: 100%;
    }
  }
}

/* FOOTER */
.footer {
  padding: 8rem 0 3.2rem;

  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.8rem;
  }

  &__col-1 {
    flex-basis: 22.2rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-right: 19.2rem;
  }

  &__col-2 {
    .footer-section-heading {
      margin-bottom: 4rem;
      min-width: 16rem;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }

  &__col-4 {
    width: 35.2rem;

    .footer-section-heading {
      margin-bottom: 4rem;
    }

    .footer__label {
      position: relative;
    }

    .footer__label::before {
      content: '';
      position: absolute;
      top: -10px;
      bottom: -10px;
      right: 1rem;
      width: 3.2rem;
      cursor: pointer;
      background: url('../img/footer-circle-button.svg') center no-repeat;
    }

    .footer__search {
      padding: 0 1.6rem;
      border: 2px solid #e6e8ec;
      border-radius: 90px;
      width: 35.2rem;
      height: 4.8rem;
      outline: none;
      cursor: pointer;
    }

    .footer__search[type='search']::-webkit-search-cancel-button {
      appearance: none;
    }

    .footer__search::placeholder {
      font-family: $primary-font;
      font-style: normal;
      font-size: 1.2rem;
      line-height: 2rem;
      color: $neutrals-4;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 3.2rem;

    .footer-accept {
      margin-left: 1.6rem;
    }
  }
}
